p {
    color: #90a955;
    text-decoration: #31572c wavy underline;
    line-height: 200%;
    letter-spacing: 2px;
    font-size: 80%;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}


#name {
    color:#fb6f92;
    font-size: 120%;
    
}


.list {
    color: #ff8fab;
    line-height: 2;
}


h1 {
    border: solid #f72585 1px;
    color: #a9def9;
}

.breed {
    color: #fb8b24;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    
}


h2 {
    border: solid #f72585 1px;
    color: #a9def9;
}



